/* Product Review Page Style*/
.form-add #review-form .data-table tbody td, 
.form-add #review-form .data-table tbody th,
.form-add.review-form .data-table {
    border: 0px;
}

.required {
    color: #eb340a;
    font-weight: 500;
}

.d-flex {
    display: flex;
}

.view-direction {
    text-decoration: none;
    cursor: auto;
}

.align-items-center {
    align-items: center;
}

#main-container > div > div.row > div > div > div > div > div.view-more > span {
    text-decoration: none;
    cursor: auto;
}

.main-container > .container {
    padding: 0px 20px !important;
}

.form-add.review-form h1 {
    font-size: 24px;
    margin: 16px 0px;
}

#main-container h2 {
    margin-top: 2%;
    font-size: 16px;
    font-weight: 700;
}

#review-form > fieldset h3 {
    font-size: 16px;
    margin: 12px 0px;
    font-weight: 700;
}

.form-add.review-form h4 {
    font-size: 20px;
    font-weight: bold;
}

#review-form > fieldset > div > div.col-xs-12.text-center > button {
    border-radius: 8px;
    padding: 0px 24px;
    width: auto;
    height: 48px;
    font-size: 24px;
    background-color: rgba(39, 174, 96, 1);
    color: white;
}

#review-form > fieldset > div > div.col-xs-12.text-center > button:hover {
    filter: drop-shadow(0px 0px 5px black);
}

.review-image-description-container .review-title-description-container div.view-more {
    margin-bottom: 3%;
    font-weight: 400;
    cursor: pointer;
}

.form-add.review-form .data-table {
    margin-bottom: 2%;
}

.form-add.review-form .data-table tbody td {
    width: 70%;
    justify-content: space-between;
}

.form-add.review-form .data-table th {
    font-weight: 500;
    font-size: 18px;
}

.form-add.review-form tbody .odd {
    align-items: flex-start;
}

.form-add.review-form .data-table tbody .even {
    align-items: flex-start;
    width: 50%;
}

.form-add.review-form .review-title-description-container {
    width: 48%;
}

.form-add.review-form .review-short-description-desktop {
    font-size: 16px;
}

.review-title-description-container div.review-short-description-desktop > ul {
    padding-left: 4%;
}

.review-image-description-container div.review-title-description-container div.review-short-description {
    margin-bottom: 2%;
    font-size: 14px;
}

.review-title-description-container div.review-short-description > ul {
    padding-left: 4%;
}

.form-add.review-form > .review-image-description-container {
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    padding-left: 15px;
}

.form-add.review-form .review-image-description-container #image-main {
    width: 36%;
}

.form-add.review-form #image-main {
    border: #0d0d0d solid 1px;
    width: 25%;
    padding: 2%;
}

.form-add.review-form fieldset > div.form-list {
    margin-bottom: 2%;
    width: 50%;
}

.form-add.review-form .form-list label {
    font-size: 18px;
}

#summary_counter {
    bottom: 30px;
    right: 13px;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
    width: fit-content;
    font-size: 10px;
    align-items: flex-start;
    background-color: #fff;
    padding: 0px 2px;
    border-radius: 8px;
}

#review_counter {
    bottom: 88px;
    right: 13px;
    position: absolute;
    flex-direction: row;
    justify-content: flex-end;
    width: fit-content;
    font-size: 10px;
    align-items: flex-start;
    background-color: #fff;
    padding: 0px 2px;
    border-radius: 8px;
}

/*Star Rating CSS*/
.form-add.review-form .data-table .star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;
    /* the hidden clearer */
}
.form-add.review-form .data-table .star-cb-group label {
    font-weight: 200;
}
.form-add.review-form .data-table .star-cb-group * {
    font-size: 3rem;
}
.form-add.review-form .data-table .star-cb-group > input {
    display: none;
}
.form-add.review-form .data-table .star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
    color: transparent;
}
.form-add.review-form .data-table .star-cb-group > input + label:before {
    display: inline-block;
    content: "☆";
    color: #888;
}
.form-add.review-form .data-table .star-cb-group > input:checked ~ label:before,
.form-add.review-form .data-table .star-cb-group > input + label:hover ~ label:before,
.form-add.review-form .data-table .star-cb-group > input + label:hover:before {
    content: "★";
    color: #FFD700;
    text-shadow: 0 0 1px #333;
}
.form-add.review-form .data-table .star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
}
.form-add.review-form .data-table .star-cb-group > .star-cb-clear + label:before {
    width: .5em;
}
.form-add.review-form .data-table .star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
}
.form-add.review-form .data-table .star-cb-group:hover > input + label:hover ~ label:before,
.form-add.review-form .data-table .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #FFD700;
    text-shadow: 0 0 1px #333;
}

@media only screen and (min-width:993px) and (max-width:2200px) {
    .review-image-description-container .review-title-description-container div.view-more {
        display: none;
    }
    .form-add .review-image-description-container div.review-title-description-container {
        margin-top: 2%;
    }
}

@media (max-width: 992px) {
    .review-image-description-container .review-title-description-container .review-short-description-desktop {
        display: none;
    }
    #product-review-table > tbody tr.even > td,
    .form-add.review-form .review-title-description-container,
    .form-add.review-form #review-form .form-list,
    .review-image-description-container .review-title-description-container {
        width: 100%
    }
    #product-review-table > tbody tr.even > td,
    #product-review-table > tbody tr > th {
        border: none !important;
    }
    .form-add.review-form > .review-image-description-container {
        flex-direction: column;
    }
    .form-add.review-form .review-image-description-container #image-main {
        width: 50%;
    }
    .review-title-description-container div.d-flex.align-items-center.hidden-lg.hidden-md > span.view-more {
        text-decoration: underline;
        color: #2F80ED;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    #product-review-table tbody tr.even {
        width: 60%;
    }
    .form-add.review-form .review-image-description-container #image-main {
        width: 67%;
        margin-bottom: 6%;
    }
    #review-form>fieldset>div>div.col-xs-12.text-center>button {
        width: 100%;
    }
}

@media (max-width: 560px) {
    #product-review-table tbody tr.even {
        width: 100%;
    }
}