<?xml version="1.0"?>
<config>
    <modules>
        <HSC_Productreviews>
            <version>1.0.3</version>
        </HSC_Productreviews>
    </modules>
    <frontend>
        <routers>
            <productreviews>
                <use>standard</use>
                <args>
                    <module>HSC_Productreviews</module>
                    <frontName>productreviews</frontName>
                </args>
            </productreviews>
            <review>
                <args>
                    <modules>
                        <hsc_productreviews before="Mage_Review">HSC_Productreviews</hsc_productreviews>
                    </modules>
                </args>
            </review>
        </routers>
        <layout>
            <updates>
                <productreviews module="HSC_Productreviews">
                    <file>hsc_productreviews.xml</file>
                </productreviews>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <HSC_productreviews after="Mage_Adminhtml">HSC_Productreviews_Adminhtml</HSC_productreviews>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <resources>
            <hsc_productreviews_setup>
                <setup>
                    <module>HSC_Productreviews</module>
                    <class>HSC_Productreviews_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </hsc_productreviews_setup>
        </resources>
        <blocks>
            <hsc_productreviews>
                <class>HSC_Productreviews_Block</class>
            </hsc_productreviews>
            <adminhtml>
                <rewrite>
                    <review_edit_form>HSC_Productreviews_Block_Adminhtml_Review_Edit_Form</review_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <hsc_productreviews>
                <class>HSC_Productreviews_Model</class>
            </hsc_productreviews>
            <review_resource>
                <rewrite>
                    <review>HSC_Productreviews_Model_Resource_Review</review>
                </rewrite>
            </review_resource>
            <hsc_productreviews>
                <class>HSC_Productreviews_Model</class>
                <resourceModel>hsc_productreviews_resource</resourceModel>
            </hsc_productreviews>
            <hsc_productreviews_resource>
                <class>HSC_Productreviews_Model_Resource</class>
            </hsc_productreviews_resource>
            <hsc_productreviews_buildxml>
                <class>HSC_Productreviews_Model_BuildXML</class>
            </hsc_productreviews_buildxml>
        </models>
    </global>
    <crontab>
        <jobs>
            <send_product_review_solicitation>
                <schedule><cron_expr>0 6 * * *</cron_expr></schedule> 
                <run><model>hsc_productreviews/email_template::sendReviewEmail</model></run>
            </send_product_review_solicitation>
            <send_nps_survey>
                <schedule><cron_expr>0 10 * * *</cron_expr></schedule>
                <run><model>hsc_productreviews/email_template::sendNPSSurvey</model></run>
            </send_nps_survey>
        </jobs>
    </crontab>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                <children>
                                    <hsc_productreviews_settings>
                                        <title>HSC Product Reviews Configuration</title>
                                    </hsc_productreviews_settings>
                                </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
