<?xml version="1.0"?>
<config>
    <tabs>
        <hsc translate="label">
            <label>HSC</label>
            <sort_order>210</sort_order>
        </hsc>
    </tabs>
    <sections>
        <hsc_productreviews_settings translate="label">
        <label>Marketing Site Components</label>
        <tab>hsc</tab>
        <frontend_type>text</frontend_type>
        <sort_order>310</sort_order>
        <show_in_default>1</show_in_default>
        <show_in_website>1</show_in_website>
        <show_in_store>1</show_in_store>
            <groups>
                <hsc_product_reviews translate="label">
                    <label>Product Reviews and NPS Survey Configuration Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <internal_email_addresses translate="label">
                            <label>Internal Email Addresses to Receive Email Delivery Receipts</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                        </internal_email_addresses >
                    </fields>
                    <fields>
                        <enable_product_reviews translate="label">
                            <label>Enable Product Reviews</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </enable_product_reviews>
                    </fields>
                    <fields>
                        <days_delay_to_send translate="label">
                            <label>Number of Days Post Delivery Confirmation to Send Product Review Emails</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                        </days_delay_to_send>
                    </fields>
                    <fields>
                        <days_delay_to_send_nps translate="label">
                            <label>Number of Days Post Delivery Confirmation to Send NPS Survey Emails</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                        </days_delay_to_send_nps>
                    </fields>
                    <fields>
                        <is_development translate="label">
                            <label>In Development Mode?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                        </is_development>
                    </fields>
                    <fields>
                        <is_local translate="label">
                            <label>In Local Environment?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                        </is_local>
                    </fields>
                    <fields>
                        <development_email_address translate="label">
                            <label>Email Address to Receive Test Emails</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                        </development_email_address>
                    </fields>
                    <fields>
                        <limit_of_productreview_emails translate="label">
                            <label>Limit for Test Data Pull and Email Send</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment>Default limit is 2.</comment>
                        </limit_of_productreview_emails>
                    </fields>
                    <fields>
                        <enable_nps_survey translate="label">
                            <label>Enable NPS Survey</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                        </enable_nps_survey>
                    </fields>
                    <fields>
                        <allow_review_on_product_page translate="label">
                            <label>Allow review submissions on product pages?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </allow_review_on_product_page>
                    </fields>
                </hsc_product_reviews>
                <gift_note_and_upsell_above_checkout translate="label">
                    <label>Gift Note and Upsell Component Above Cart Items</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
                        <product_ids_or_category_id>
                            <label>Product IDs or Category ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>If there is only 1 numeric value here then the system will assume that you're inputting
                                a CATEGORY ID. To use PRODUCT IDs there must be exactly 4 numeric values here, separated by commas. No more than 4, no less than 4.
                                To disable this component, leave this section blank. Love, Landon xoxo.
                            </comment>
                        </product_ids_or_category_id>
                        <header_text>
                            <label>Header Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </header_text>
                    </fields>
                </gift_note_and_upsell_above_checkout>
                <frequently_purchased_items translate="label">
                    <label>Frequently Purchased Items Component On Checkout</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
                        <product_ids>
                            <label>Product IDs</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>There must be exactly 4 numeric product IDs here, separated by commas. No more than 4, no less than 4.
                                To disable this component, leave this section blank.
                            </comment>
                        </product_ids>
                        <header_text>
                            <label>Header Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </header_text>
                    </fields>
                </frequently_purchased_items>
                <promotional_product_carousel_pdp translate="label">
                    <label>PDP Related Products/Google Shopping Carousel</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
                        <number_of_products_to_show_in_carousel>
                            <label>Number of Products to Show in Carousel</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </number_of_products_to_show_in_carousel>
                    </fields>
                </promotional_product_carousel_pdp>
                <expedited_processing_product_id translate="label">
                    <label>Expedited Processing Product ID</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
                        <product_id>
                            <label>Expedited Processing Product ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </product_id>
                    </fields>
                </expedited_processing_product_id>
                <second_cart_product_product_id translate="label">
                    <label>Second Cart Product</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
                        <active>
                            <label>Enable Second Product on Cart?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </active>
                        <product_id>
                            <label>Second Cart Product Product ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </product_id>
                        <header_text>
                            <label>Header Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </header_text>
                        <section_copy>
                            <label>Section Copy</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </section_copy>
                        <button_text>
                            <label>Button Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </button_text>
                    </fields>
                </second_cart_product_product_id>
                <promo_category_ids translate="label">
                    <label>Optimunk Promotional Category ID</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>7</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
                        <category_id>
                            <label>Category IDs</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </category_id>
                    </fields>
                </promo_category_ids>
                <optimonk_header_script translate="label">
                    <label>Optimonk Script in Site Headers</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>8</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
                        <header_script>
                            <label>Script</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>
                                Paste the script for Optimonk in the text box. It will appear in the header. Leave blank to remove the script.
                            </comment>
                        </header_script>
                    </fields>
                </optimonk_header_script>
                <product_buyup_option_ids translate="label">
                    <label>Product Buy Up Option IDs</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>8</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
                        <option_ids>
                            <label>Script</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>
                                A comma separated list of any option IDs we want removed from the list of options displayed with a product in the cart.
                            </comment>
                        </option_ids>
                    </fields>
                </product_buyup_option_ids>
                <delete_all_from_cart translate="label">
                    <label>Delete All from Cart</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>9</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
                      <enable>
                          <label>Script</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_enabledisable</source_model>
                          <sort_order>1</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <comment>
                            Enable or disable the delete all from cart feature.
                          </comment>
                      </enable>
                    </fields>
                </delete_all_from_cart>
                <aov_modal_list translate="label">
                    <label>AOV Cart Modal Products</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>9</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <fields>
                        <enable>
                            <label>Enable AOV Modal on checkout?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </enable>
                    </fields>
                    <fields>
                        <product_ids>
                            <label>AOV List of Products</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <comment>
                                Add a comma separated list of product IDs used to populate the cart AOV modal pop-up. Simple products only can be added. No products with options can be added.
                            </comment>
                        </product_ids>
                        <modal_header>
                            <label>Aov Modal Header</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </modal_header>
                        <modal_subheader>
                            <label>Aov Modal Subheader</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </modal_subheader>
                    </fields>
                </aov_modal_list>
            </groups>
        </hsc_productreviews_settings>
    </sections>
</config>